
.loading-circles[_v-34e13b62] {
    position: relative
}

.loading-circles[_v-34e13b62]:before {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -2.5px;
    margin-left: -2.5px;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    animation: linear loading-circles .75s infinite;
    -webkit-animation: linear loading-circles .75s infinite;
}

@keyframes loading-circles {
    0% {
        box-shadow: 0 -12px 0 #505050, 8.52px -8.52px 0 #646464, 12px 0 0 #797979, 8.52px 8.52px 0 #8d8d8d, 0 12px 0 #a2a2a2, -8.52px 8.52px 0 #b6b6b6, -12px 0 0 #cacaca, -8.52px -8.52px 0 #dfdfdf
    }
    12.5% {
        box-shadow: 0 -12px 0 #dfdfdf, 8.52px -8.52px 0 #505050, 12px 0 0 #646464, 8.52px 8.52px 0 #797979, 0 12px 0 #8d8d8d, -8.52px 8.52px 0 #a2a2a2, -12px 0 0 #b6b6b6, -8.52px -8.52px 0 #cacaca
    }
    25% {
        box-shadow: 0 -12px 0 #cacaca, 8.52px -8.52px 0 #dfdfdf, 12px 0 0 #505050, 8.52px 8.52px 0 #646464, 0 12px 0 #797979, -8.52px 8.52px 0 #8d8d8d, -12px 0 0 #a2a2a2, -8.52px -8.52px 0 #b6b6b6
    }
    37.5% {
        box-shadow: 0 -12px 0 #b6b6b6, 8.52px -8.52px 0 #cacaca, 12px 0 0 #dfdfdf, 8.52px 8.52px 0 #505050, 0 12px 0 #646464, -8.52px 8.52px 0 #797979, -12px 0 0 #8d8d8d, -8.52px -8.52px 0 #a2a2a2
    }
    50% {
        box-shadow: 0 -12px 0 #a2a2a2, 8.52px -8.52px 0 #b6b6b6, 12px 0 0 #cacaca, 8.52px 8.52px 0 #dfdfdf, 0 12px 0 #505050, -8.52px 8.52px 0 #646464, -12px 0 0 #797979, -8.52px -8.52px 0 #8d8d8d
    }
    62.5% {
        box-shadow: 0 -12px 0 #8d8d8d, 8.52px -8.52px 0 #a2a2a2, 12px 0 0 #b6b6b6, 8.52px 8.52px 0 #cacaca, 0 12px 0 #dfdfdf, -8.52px 8.52px 0 #505050, -12px 0 0 #646464, -8.52px -8.52px 0 #797979
    }
    75% {
        box-shadow: 0 -12px 0 #797979, 8.52px -8.52px 0 #8d8d8d, 12px 0 0 #a2a2a2, 8.52px 8.52px 0 #b6b6b6, 0 12px 0 #cacaca, -8.52px 8.52px 0 #dfdfdf, -12px 0 0 #505050, -8.52px -8.52px 0 #646464
    }
    87.5% {
        box-shadow: 0 -12px 0 #646464, 8.52px -8.52px 0 #797979, 12px 0 0 #8d8d8d, 8.52px 8.52px 0 #a2a2a2, 0 12px 0 #b6b6b6, -8.52px 8.52px 0 #cacaca, -12px 0 0 #dfdfdf, -8.52px -8.52px 0 #505050
    }
    to {
        box-shadow: 0 -12px 0 #505050, 8.52px -8.52px 0 #646464, 12px 0 0 #797979, 8.52px 8.52px 0 #8d8d8d, 0 12px 0 #a2a2a2, -8.52px 8.52px 0 #b6b6b6, -12px 0 0 #cacaca, -8.52px -8.52px 0 #dfdfdf
    }
}
@-webkit-keyframes loading-circles {
    0% {
        box-shadow: 0 -12px 0 #505050, 8.52px -8.52px 0 #646464, 12px 0 0 #797979, 8.52px 8.52px 0 #8d8d8d, 0 12px 0 #a2a2a2, -8.52px 8.52px 0 #b6b6b6, -12px 0 0 #cacaca, -8.52px -8.52px 0 #dfdfdf
    }
    12.5% {
        box-shadow: 0 -12px 0 #dfdfdf, 8.52px -8.52px 0 #505050, 12px 0 0 #646464, 8.52px 8.52px 0 #797979, 0 12px 0 #8d8d8d, -8.52px 8.52px 0 #a2a2a2, -12px 0 0 #b6b6b6, -8.52px -8.52px 0 #cacaca
    }
    25% {
        box-shadow: 0 -12px 0 #cacaca, 8.52px -8.52px 0 #dfdfdf, 12px 0 0 #505050, 8.52px 8.52px 0 #646464, 0 12px 0 #797979, -8.52px 8.52px 0 #8d8d8d, -12px 0 0 #a2a2a2, -8.52px -8.52px 0 #b6b6b6
    }
    37.5% {
        box-shadow: 0 -12px 0 #b6b6b6, 8.52px -8.52px 0 #cacaca, 12px 0 0 #dfdfdf, 8.52px 8.52px 0 #505050, 0 12px 0 #646464, -8.52px 8.52px 0 #797979, -12px 0 0 #8d8d8d, -8.52px -8.52px 0 #a2a2a2
    }
    50% {
        box-shadow: 0 -12px 0 #a2a2a2, 8.52px -8.52px 0 #b6b6b6, 12px 0 0 #cacaca, 8.52px 8.52px 0 #dfdfdf, 0 12px 0 #505050, -8.52px 8.52px 0 #646464, -12px 0 0 #797979, -8.52px -8.52px 0 #8d8d8d
    }
    62.5% {
        box-shadow: 0 -12px 0 #8d8d8d, 8.52px -8.52px 0 #a2a2a2, 12px 0 0 #b6b6b6, 8.52px 8.52px 0 #cacaca, 0 12px 0 #dfdfdf, -8.52px 8.52px 0 #505050, -12px 0 0 #646464, -8.52px -8.52px 0 #797979
    }
    75% {
        box-shadow: 0 -12px 0 #797979, 8.52px -8.52px 0 #8d8d8d, 12px 0 0 #a2a2a2, 8.52px 8.52px 0 #b6b6b6, 0 12px 0 #cacaca, -8.52px 8.52px 0 #dfdfdf, -12px 0 0 #505050, -8.52px -8.52px 0 #646464
    }
    87.5% {
        box-shadow: 0 -12px 0 #646464, 8.52px -8.52px 0 #797979, 12px 0 0 #8d8d8d, 8.52px 8.52px 0 #a2a2a2, 0 12px 0 #b6b6b6, -8.52px 8.52px 0 #cacaca, -12px 0 0 #dfdfdf, -8.52px -8.52px 0 #505050
    }
    to {
        box-shadow: 0 -12px 0 #505050, 8.52px -8.52px 0 #646464, 12px 0 0 #797979, 8.52px 8.52px 0 #8d8d8d, 0 12px 0 #a2a2a2, -8.52px 8.52px 0 #b6b6b6, -12px 0 0 #cacaca, -8.52px -8.52px 0 #dfdfdf
    }
}

.loading-default[_v-34e13b62] {
    position: relative;
    border: 1px solid #999;
    animation: ease loading-rotating 1.5s infinite;
    -webkit-animation: ease loading-rotating 1.5s infinite;
}

.loading-default[_v-34e13b62]:before {
    content: '';
    position: absolute;
    display: block;
    top: 0;
    left: 50%;
    margin-top: -3px;
    margin-left: -3px;
    width: 6px;
    height: 6px;
    background-color: #999;
    border-radius: 50%
}

.infinite-loading-container[_v-34e13b62] {
    clear: both;
    text-align: center
}

.infinite-loading-container [class^=loading-][_v-34e13b62] {
    display: inline-block;
    margin: 15px 0;
    width: 28px;
    height: 28px;
    font-size: 28px;
    line-height: 28px;
    border-radius: 50%
}

.infinite-status-prompt[_v-34e13b62] {
    color: #666;
    font-size: 14px;
    text-align: center;
    padding: 10px 0
}
